/* custom css */

body {
    margin-right: 10%;
    margin-left: 7.5%;
    background-color: linen;
}

.name {
    margin-bottom: 0%;
    text-align: center;
}

.location {
    float: right;
}

.time {
    float: right;
}

img {
    float: right;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
}

.contact {
    text-align: right;

}