/* custom css */

body {
    margin-right: 10%;
    margin-left: 7.5%;
    background-color: linen;
}

img {
    float: right;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
}

h3 {
    margin-bottom: 1%;
}

ul {
    margin-top: -.25%;
}

.name {
    margin-bottom: 0%;
    text-align: center;
}
.information {
    display:inline;
}

.contact {
    float: right;
    font-weight: bold;
}

.address {
    float: left;
    font-weight: bold;
}

.top{
    margin-top: -1.5%;
}

.location {
    float: right;
}

.time {
    float: right;
}

.buffer {
    float: right;
    margin-top: 2.5%;
}

.dual {
    margin-bottom: -.5%;
}

.footer{
    text-align: center;
}



